
obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
obj/Debug/DesignTimeResolveAssemblyReferences.cache
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/text_from_photo_master.csproj.CoreCompileInputs.cache
obj/Debug/text_from_photo_master.csproj.FileListAbsolute.txt
obj/Debug/text_from_photo_master.csprojAssemblyReference.cache
obj/Debug/text_from_photo_master.exe
obj/Debug/text_from_photo_master.csproj.GenerateResource.cache
obj/Debug/text_from_photo_master.Form1.resources
obj/Debug/text_from_photo_master.pdb
obj/Debug/text_from_photo_master.Properties.Resources.resources
bin/Debug/text_from_photo_master.exe
bin/Debug/text_from_photo_master.pdb
